:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  }
  
  
  body::before {
    content: "";
    background-image: url("station.jpg");
    background-size: cover;
    opacity: 0.2; /* set the opacity for the background image */
    position: absolute;
    font-weight: bold;
    text-align: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
  }
  
  .h1-container {
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  h1 {
    margin-top: 10px;
    margin-bottom: 20px; /* Add some margin-bottom to create space */
    text-align: center;
    font-weight: bold;
  }
  
  h2 {
    font-size: 50px;
    margin-top: 0;
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#increment-btn {
    background: darkred;
}

#save-btn {
    background: darkgreen;
}

